.fadeinUp {
  -webkit-animation: fadeInUp 500ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeInUp 500ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* Standard syntax */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.remove {
  position: relative;
  --color: white !important;
  width: 70px;
  height: 70px;
  float: right;
  --background: rgb(32, 69, 104);
  z-index: 1;
  margin-bottom: 30px;
}

.pay {
  position: relative;
  --color: white !important;
  width: 70px;
  height: 70px;
  float: right;
  --background: rgb(13, 129, 38);
  z-index: 1;
  margin-bottom: 30px;
}

ion-card {
  text-align: center;
}

@media screen and (min-width: 375px) {
  .orderMobile > img {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
  }
  .loader {
    height: 90px;
    width: 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-iteration-count: infinite;
  }
}

@media screen and (max-width: 320px) {
  .orderMobile > img {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
  }

  .loader {
    height: 90px;
    width: 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-iteration-count: infinite;
  }
}


@media screen and (min-width: 401px) {
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
  }

  .orderMobile > img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 375px) {
  .orderMobile > img {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 320px) {
  .orderMobile > img {
    height: 155px;
    width: 155px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.orderMobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  margin-left: 5%;
  margin-right: 5%;
  height: 30vh;

  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.orderMobile {
  width: auto;
}

@media screen and (min-width: 991px) {
  .orderMobile {
    display: none;
  }
}

.loader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  margin-left: 5%;
  margin-right: 5%;
  height: 30vh;

  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation-iteration-count: infinite;
}

.total {
  --background: rgb(32, 69, 104);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.totalSub {
  --color: white;
}

.my-modal {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  display: block;
  --width: 50% !important;
  --height: 50% !important;
}
